@font-face {
  font-family: "Proxima Nova";
  src: url("/proximanova.otf");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: "Proxima Nova", sans-serif;
}
